---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import LayoutHeader from '../layouts/LayoutHeader.astro';
---

<LayoutHeader>
	<Header />
	<h1>About</h1>
</LayoutHeader>
