---
import Button from './Button.astro';
---

<section>
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 pt-16 sm:pt-20 md:pt-24 pb-32 sm:pb-40">
    <div class="max-w-5xl mx-auto">
      <h2 class="text-4xl sm:text-5xl md:text-6xl font-bold tracking-tight text-zinc-900 dark:text-zinc-50 mb-8 leading-tight">
        Get in touch
      </h2>
      <p class="text-base sm:text-lg leading-relaxed text-zinc-700 dark:text-zinc-300 max-w-2xl">
        We'd love to hear from you. Get in touch with us for opportunities, check-ins or any other questions you may have.
      </p>
      <br />
      <a href="/contact" class="font-bold text-lg underline">
        Contact Us
      </a>
    </div>
  </div>
</section>