---
---

<a href="/" class="absolute bottom-8 left-8 px-4 transform -rotate-3 hover:-rotate-1 transition-transform no-underline group inknut-antiqua-bold">
   
  <div class="bg-yellow-100 border-0 p-6 shadow-md  relative max-w-[200px] post-it-font">
    <!-- Folded corner -->
    <div class="absolute top-0 right-0 w-0 h-0 border-l-[18px] border-l-transparent border-t-[18px] border-t-yellow-200"></div>

    <p class="text-base text-gray-700 mb-3 ml-7">Staff applications open now! :)</p>
  </div>
</a>